
.auth-header {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-control {
    margin: 10px 0;
}

#submit-btn {
    margin: 10px 0;
}

/**/
.profile-container {
    padding: 20px;
}

.authPage-container,
.profile-container {
    padding: 20px 50px;
}

.login-form,
.register-form,
.profile {    
    max-width: 900px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.redirect {
    color: rgb(100, 100, 100);
}