.project {
    padding: 20px;
    color: rgb(92, 92, 92);
}

.project-header {
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    font-size: 24px;
}

.project-field,
.project-viewport-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.guide {
    background: rgb(150, 150, 150);
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
}

.guide:hover {
    border: 1px solid gray;
    background: white;
    color: gray;
}

/* ==== Project Upload ==== */
.project-field {
    width: 70%;
    min-width: 860px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#upload-guide {
    float: right;
}

.upload-form {
    height: 55vh;
    min-height: 600px;
}

.upload-field {
    width: 100%;
    height: 100%;
    background-color: rgb(220, 220, 220);
    display: flex;
    justify-content: center;
    align-items: center;
}

/**/
.upload-viewer {
    width: 100%;
    height: 100%;
    padding: 15px;
    border: 1px solid gray;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    
}

.image-box {
    position: relative;
    height: 100px;
    margin: 5px;
}

.upload-viewer img {
    height: 100px;
    aspect-ratio: 640/480;
}

.uploaded-image {
    width: 100%;
    border: 0.5px solid gray;
}

#upload-extra {
    height: 100px;
    aspect-ratio: 640/480;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    font-size: 2rem;
    cursor: pointer;
}

#upload-extra:hover {
    background: rgb(200, 200, 200);
    color: white;
}

.submit-field {
    text-align: center;
}

#next-btn {
    margin-top: 10px;
}

/* ==== | ====*/

.rcs-container {
    width: 90%;
    height: 800px;
    margin: auto;

    display: flex;
    border: 1px solid black;
}

.left-content {
    width: calc(100% - 200px);
    height: 100%;
}

.option-field {
    width: 100%;
    height: 10%;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-field button {
    margin: 0 10px;
}

.file-input {
    display: none;
}

/**/

.result-field {
    width: 100%;
    height: 90%;
    position: relative;
}

.result-field canvas {
    width: 100%;
    height: 100%;
}

/**/

.right-content {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid black;
}

.rcs-parameter {
    padding: 10px;
}

.rp-header {
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.multiInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.halfText {
    flex: 1;
    margin: 5px;
    width: calc(50% - 10px);
}

.halfInput {
    width: 100%;
}

/**/

.uploaded-gallery {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: blue orange;
}

.ug-header {
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.remove-image-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    color: white;
    cursor: pointer;
}